doctype html 
html 
    head   
        title ClonDeYT2 
        meta(chastset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width==device-width, maximun-scale=1.0, user-scalable=no")
        link(rel="stylesheet", href="../sass/base.css")
    body   
        block contenidos