main 
    //- Contenedor de cajas de videos grids mobile= 1x1 ; tablet= 3columnas * n; desktop= 4columnas

    .contenedor 
        //- Repetir esta caja varias veces
        //- Hacer de .caja un mixin
        +cajaDeVideo("galaxia1", "15:00", "home.png", "TOP 5 MONSTRUOS más ATERRADORES de las profundidades del mar mediterráneo","DocTops", "1.5M de vistas", "hace 2 semanas")
        +cajaDeVideo("galaxia3", "8:00", "home.png", "El Mundo está lleno de mentirosos, una galaxia de paradojas","Don't be Naco", "100k de vistas", "hace 11 años")
        +cajaDeVideo("mar", "3:52", "home.png", "Bad Bunny, Aventura - Algo","Pepito", "141M de vistas", "hace 2 meses")
        +cajaDeVideo("galaxia1", "5:00", "home.png", "Expectaiva CS. Realidad: Vacaciones | enchufetv","enchufetv", "1.5M de vistas", "hace 3 meses")
        +cajaDeVideo("galaxia3", "4:00", "home.png", "Recomendaciones ante un sismo en el contexto de la #COVID19","Minsa Perú", "244,703 vistas", "hace 1 mes")
        +cajaDeVideo("mar", "20:00", "home.png", "CR7, el bicho, metió 6 goles en su debut pero pierde el partido","ESPN", "3.5M de vistas", "hace 5 días")