extend componentes/head.pug
block contenidos
    include componentes/globales.pug
    include componentes/header.pug
    include componentes/main.pug
    include componentes/aside.pug
    include componentes/footer.pug
    
    






