$color-claro: #FFFFFF; 
$color-fondo-primario: #F9F9F9;
$color-fondo-secundario: #E5E5E5;
$color-fondo-seleccionado:#292929; 
$color-fuente-primaria: #030303;
$color-fuente-seleccionada: #E4E4E4;

@mixin icon{
    width: 25px;
    height: 25px;
    @include media(tablet){
        width: 35px;
        height: 35px;
    }
}
@mixin cajaConScrollX{
    overflow-x: scroll;
    white-space: nowrap; //Súper importante para que los elementos no se apiñen unos con otros
}

@function get-opacity($color, $nivel) {
    @return rgba($color, $nivel);
}

// @include media(desktop-s){
//     body{
//         display: grid;
//         // grid-template-columns: 1fr auto;
//     }
// }
