.header{
    margin-top: 10px;
    @include media(desktop-s){
        height: 104px;
        position: fixed;
        z-index: 1000;
        background-color: $color-fondo-primario;
        margin-top: 0;
        padding-top: 10px;

    }
    &__icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media(tablet){
            display: grid;
            grid-template-columns: 2fr 5fr 3fr;
        }
        &--yt{
            margin-left: 10px;
            a{
                display: block;
            }
            img{
                width: 80px;
            }
            @include media(tablet){
                img{
                    width: 100px;
                }
            }
        }
        .header__searcher{
            display: none;
            @include media(tablet){
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                &--container{
                    display: flex;
                    justify-content: space-between;
                    width: 70%;
                    border: 1px solid get-opacity(#000, .4);
                }
                input{
                    width: 100%;
                    padding-left: 15px;
                    border: 0;
                    outline: 0;
                }
                &--icon{
                    background-color: $color-fuente-seleccionada;
                    padding: 5px;
                }
            }
        }
        &--preferences {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50%;
            max-width: 250px;
            @include media(tablet){
                width: 100%;
                justify-self: end;
            }
            .icon--container{
                display: block;
                img{
                    @include icon;
                }
            }
            .icon--container:last-child img{
                margin-right: 10px;
            }
        }
    }
    &__categories{
        position: relative;
        width: 100vw;
        height: 60px;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media(desktop-s){
            justify-content: initial;
        }
        &--explorar {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 100%;
            text-align: center;
            margin-bottom: 0;
            a{
                display: block;
                background-color: $color-fondo-secundario; 
                width: 90%;
                img{
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }
                span {
                    vertical-align: middle //si no está acá no se alinea tan bien
                }
            }
        }
        &--elements{
            @include cajaConScrollX;
            height: 100%;
            width: 80%;
            display: flex;
            align-items: center;
            ul{
                display: flex;
                align-items: center;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
            }
            li {
                margin-right: 8px;
            }
            li:nth-child(1){
                margin-left: 8px;
            }
            li a{
                padding: 4px 10px;
                border-radius: 30px;
                background-color: $color-fondo-secundario; 
            }
        }
        @include media(desktop-s){
            &--elements::-webkit-scrollbar{
                width: 5px;
                height: 5px;
            }
            &--elements::-webkit-scrollbar-thumb{
                background: #ccc;
                border-radius: 4px;
            }
            &--elements::-webkit-scrollbar-thumb:hover{
                display:block;
            }
            &--elements::-webkit-scrollbar-thumb:active{
                background: rgb(121, 121, 121);
            }
        }
    }
}